<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<title>Login</title>
	</head>
	<body>
		<webobject name = "Login">
		<p>username</p>
		<webobject name = "username"></webobject>
		<p>password</p>
		<webobject name = "password"></webobject><br>
		<webobject name = "submit">submit</webobject>
		</webobject>
	</body>
</html>
